<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="container" ng-app="TestNetApp" ng-controller="TestNetController">
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/linq.min.js"></script>
    <script src="~/Scripts/AngularControllers/Application.js"></script>
</body>
</html>
